[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = ">=10.3"
async-tkinter-loop = ">=0.6.0"
twitchio = ">=2.4.0"
pymem = ">=1.8.3"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.9"
